<footer class="footer">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-2 text-center">
      <a href="mailto:levi@blackbeltmastering.com">levi@blackbeltmastering.com</a>
    </div>
    <div class="col-xs-4 text-center">
      <a href="#faq">Frequently Asked Questions</a>
    </div>
    <div class="col-xs-4 col-xs-offset-2 text-center">
      <a href="tel:206-651-4765">(206) 651-4765</a>
    </div>
    <div class="col-xs-4 text-center">
      <a href="#contact">Contact</a>
    </div>
    <div class="col-xs-6 col-xs-offset-3 text-center footer-credits">
      <p class="small">
        Site designed and developed by
        <a href="http://markdribera.com/">Mark Ribera</a>
      </p>
    </div>
  </div>
</footer>
