<div class="welcome-content down">
  <div class="background"></div>
  <div class="nav-controls">
    <h1 id="site-title">Black Belt Mastering</h1>
    <button type="button" class="navbar-toggle collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar top-bar"></span>
      <span class="icon-bar middle-bar"></span>
      <span class="icon-bar bottom-bar"></span>
    </button>
  </div>

  <div class="album-data">
    {{ range .Params.welcome }}
    <p>{{ . }}</p>
    <img data-src="{{ . }}" />
    {{ end }}
  </div>

  <div id="album-grid">
    {{ range seq 0 9 }}
    <div class="item index-{{ . }}">
      <div class="album">
        <div class="art"></div>
      </div>
    </div>
    {{ end }}
  </div>

  <header id="navCollapse" class="down navbar-collapse collapse">{{ partial "nav" }}</header>
</div>
