<div class='welcome-content down'>

    <div class='background'></div>
    <h1 id='site-title'>Black Belt Mastering</h1>
  
    <div class='album-data'>
      <!-- <% @welcomeImages.each do |f| %>
        <% f = f.split('/') %>
        <%= image_tag '', :data => { :src => '/_welcome/' + f.last } %>
      <% end %> -->
    </div>
  
    <div id='album-grid'>
    <!-- <% for i in 0..9 %> -->
      <div class='item index-0'>
        <div class='album'>
          <div class='art'>adsfasdf</div>
        </div>
      </div>
    <!-- <% end %> -->
    </div>
  
    <header class='down'>
      {{ partial "nav" }}
    </header>
  
  </div>
  