.welcome-content {
  background-color: var(--color-black);
  height: 100%;
  left: 0;
  position: fixed;
  top: -100%;
  transition: top 0.4s ease;
  width: 100%;
  z-index: 900;

  &.down {
    top: 0;
    transition: top 0.4s ease;

    .nav-controls {
      background-color: transparent;
      transition: background-color 0.4s;
    }
  }

  #album-grid {
    height: calc(100% - 125px);
    max-width: 1050px;
    margin: 0 auto;
    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;

    .item {
      margin-bottom: 10px;
      position: relative;
      top: -800px;
      width: 19%;

      &.down {
        top: 0;
        transition: top 0.6s;
        transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
      }

      .album {
        height: 0;
        overflow: hidden;
        padding-bottom: 100%;
        position: relative;
        width: 100%;

        img {
          position: absolute;
          width: 100%;
        }
      }
    }

    .index-7 .art {
      background-color: var(--color-black);
      background-image: url("/img/bbm_logo.jpeg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }
}

.nav-controls {
  align-items: center;
  background-color: var(--color-black);
  display: flex;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  .navbar-toggle {
    border: 0;

    .icon-bar {
      background-color: var(--color-white);
      transition: all 0.2s;
    }

    .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }

    .middle-bar {
      opacity: 0;
      width: 0;
    }

    .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
    }

    &.collapsed {
      .top-bar {
        transform: rotate(0);
      }

      .middle-bar {
        opacity: 1;
        width: auto;
      }

      .bottom-bar {
        transform: rotate(0);
      }
    }
  }
}

#site-title {
  cursor: pointer;
  flex-grow: 1;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0 0 0 15px;
  text-align: left;
  text-transform: uppercase;

  @include rwd(360) {
    font-size: 20px;
  }

  @include sm() {
    font-size: 30px;
    height: 70px;
    letter-spacing: 20px;
    line-height: 80px;
    text-align: center;
  }
}

#navCollapse {
  background-color: var(--color-black);
  position: fixed;
  left: 0;
  margin-top: 48px;
  top: 0;
  transition: top 0.4s ease;
  width: 100%;
  z-index: 998;

  @include sm() {
    height: 55px;
    margin-top: 0;
    top: 65px;
  }

  &.collapsing {
    position: fixed;
  }

  &.down {
    transition: top 0.4s ease, height 0.35s ease, visibility 0.35s ease;

    @include sm() {
      top: calc(100% - 100px);
    }

    #welcome div {
      top: -45px;
      height: 120px;
      transition: top 0.6s, height 0.6s;
      transition-timing-function: ease;
    }
  }
}

.navwrapper {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;

  @include sm() {
    flex-direction: row;
  }

  a {
    border-bottom: none;
    height: 55px;
    flex-grow: 1;
    background-color: var(--color-black);
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    font-size: 26px;
    font-family: "Lato", serif;
    font-weight: 300;
    transition: color 0.4s;
    color: var(--color-light-grey);

    &:hover {
      text-decoration: none;
    }

    &.active {
      color: var(--color-white);
    }

    &:hover {
      color: var(--color-white);
      transition: color 0.4s ease;
    }
  }
}

#slides {
  width: 500px;
  margin: 0 auto;
}

.album-data {
  display: none;
}
